<!-- Barra fixa no topo -->
<div class="top-bar"></div>

<!-- Container centralizado -->
<div class="container">
  <!-- Sessão da esquerda -->
  <div class="left-section">
    <div class="logo-topo">
      <img src="../assets/logo/LOGO_SVG.svg" alt="Logo">
    </div>

    <div class="custom-button1">Minhas Seleções</div>

    <div class="custom-button2">Alertas</div>
  </div>

  <!-- Sessão da direita -->
  <div class="right-section">
    <div class="header">


      <div class="busca-principal">
        <div class="texto-busca">O que procura, guru?</div>
        <div class="lupa"><img src="../assets/Icons/busca.svg">
        </div>
      </div>

      <div class="filtros">
        <div class="icone-sessao"><img src="../assets/Icons/icone_filtro.svg" alt="Logo">
        </div>
        <div class="titulo-sessao">Filtros:
        </div>


      </div>


      <div class="dropdown closed" onclick="toggleDropdown()">
        <span>Minhas Preferências</span> <!-- Exibe apenas o primeiro link quando fechado -->
        <ul>
          <li><input type="radio" name="option" checked> <span>Apenas Meus Times</span>
            <button class="btn-editar">Editar</button>
          </li>
          <li><input type="radio" name="option"> <span>Apenas Minhas Competições</span>
            <button class="btn-editar">Editar</button>
          </li>
          <li><input type="radio" name="option"> <span>Apenas Meus Mercados</span>
            <button class="btn-editar">Editar</button>
          </li>
          <li><input type="radio" name="option"> <span>Apenas Meus Países</span>
            <button class="btn-editar">Editar</button>
          </li>
          <li><input type="radio" name="option"> <span>Apenas Minhas Casas de Apostas</span>
            <button class="btn-editar">Editar</button>
          </li>
        </ul>
      </div>


      <div class="linha-divisoria">
      </div>
      <div class="titulos-internos"> Próximas 12 Horas:
      </div>


      <!-- AQUI COMEÇA AS TABELAS DE JOGOS, GUILHERME: -->

      <app-fixture></app-fixture>

    </div>
  </div>


  <!-- Botão que ativa a tela deslizante -->


  <div class="overlay" id="overlay">
    <!-- Botão para fechar a tela -->
    <button class="close-btn">Fechar</button>
  </div>



</div>

